p{
    background-color: maroon;
}
h1{
    background-color: mediumseagreen;
}

div{
    background-color: mediumvioletred;

    p{
        background-color: olive;
    }

}

*{
    background-color: orangered;
}